@import "tailwindcss";

@theme {
  --font-sans: Inter, system-ui, sans-serif;
  
  --color-border: #0000;
  --color-card: #FAFAFA;
  --color-button: #FAFAFA;
  --color-primary: #0047EC;
}

body {
  font-family: var(--font-sans);
  color: black;
  background-color: #FFF0C3;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
}

h5 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

